
.blogs-container {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 20px;

    .blogs-header {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 200px;
        margin: 1rem auto;
        padding: 1rem 20px;
        background-color: #01161E;
        border-radius: 8px;

        .blogs-header-title-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;

            .blogs-header-title {
                font-size: 2.5em;
                color: #124559;
                text-align: center;
                padding: 1rem 0;
            }

            .new-blog-btn {
                max-height: 40px;
                border-radius: 4px;
                font-size: 1.2em;
                padding: 6px 22px;
                background-color: #124559;
                color: #EFF6E0;
                text-decoration: none;
                transition: all 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .blogs-subtitle-wrapper {
            width: 70%;
            margin: 1rem;
            padding: 2rem;
            margin-left: 10%;
            display: flex;
            flex-direction: column;
            border: 1px solid #AEC3B0;
            border-radius: 4px;

            .blogs-header-subtitle {
                font-size: 1.8em;
                color: #AEC3B0;
                text-align: start;
            }

            .blogs-header-link {
                font-size: 1.8em;
                color: #598392;
                text-align: end;
                transition: all 0.3s ease-in-out;
                padding-bottom: 2rem;

                &:hover {
                    color: #124559;
                    transform: scale(1.1);
                }
            }
        }
    }

    .blogs-content-wrapper {
        display: grid;
        grid-template-columns: 3fr 1fr;

        .blogs-content {
            width: 100%;
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            padding-left: 3rem;
        }
    }
}

.blogs-sidebar {
    width: 100%;
    padding: 1rem;
    background-color: rgba(201, 220, 210, 0.654);

    .blogs-sidebar-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .blogs-sidebar-title {
            font-size: 2.5em;
            color: #01161E;
            margin-top: 1rem;
        }

        .sidebar-category-link {
            font-size: 1.3em;
            color: #124559;
            padding: 1rem 0;
            margin-left: 1rem;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: #598392;
            }
        }
    }

    .blogs-sidebar-socials-wrapper {
        width: 80%;
        margin: 1rem auto;
        padding: 1rem 0;
        border-top: 2px solid #598392;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .sidebar-social-link {
            font-size: 1.8em;
            text-decoration: none;
            color: rgb(26, 117, 145);
            margin: 1rem 2rem;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: rgb(136, 162, 179);
                transform: scale(1.2);
            }
        }
    }
}

// Blog Items

.blog-item-container {
    width: 65%;
    text-decoration: none;
    border-bottom: 1px solid #AEC3B0;
    border-radius: 2px;
    margin: 2rem 0;
    padding: 1.5rem;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.03);
        border: 1px solid #7c7b7b;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    }

    .blog-item-title {
        font-size: 2.5em;
        color: #124559;
        text-align: start;
        margin-bottom: 1rem;
    }

    .blog-item-blurb {
        font-size: 1.2em;
        color: #EFF6E0;
        text-align: start;
        margin-bottom: 1rem;
    }

    .blog-item-user {
        font-size: 0.9em;
        color: #EFF6E0;
        text-align: end;
        margin-bottom: 1rem;
    }
}

// Blog Detail

.blog-detail-container {
    width: 100%;
    position: relative;

    .blog-detail-actions {
        bottom: 0;
        left: 0;
        position:absolute;
        width: 40%;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }

    .blog-detail-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 3fr;

        .detail-comment-container {
            width: 100%;
            margin-top: 1rem;
            margin-bottom: 6rem;
            padding: 1rem;

            .detail-comment-title {
                font-size: 1.3em;
                color: #124559;
                text-align: start;
                margin-bottom: 1rem;
            }
        }
    }

    .detail-content-container {
        width: 80%;
        margin: 4rem auto;

        .detail-content-title {
            font-size: 2.7em;
            color: #124559;
            text-align: start;
        }

        .detail-content-subtitle {
            font-size: 0.8em;
            color: #01161E;
            text-align: end;
            margin-bottom: 1rem;
        }

        .detail-content-body {
            font-size: 1.1em;
            color: #EFF6E0;
            text-align: start;
            margin-top: 2rem;
        }
    }
}

// Blog Form

.blog-form-wrapper {
    width: 70%;
    margin: 2rem auto;

    .blog-form-submit {
        width: 25%;
        padding: 3px 0;
        margin: 1rem 0;
        border-radius: 4px;
        background-color: #124559;
        color: #EFF6E0;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}

// New/Edit Blog 

.new-edit-blog-container {
    width: 90%;
    margin: 2rem auto;

    .new-edit-blog-title {
        font-size: 2.5em;
        color: #124559;
    }

    .new-edit-blog-btn {
        color: #EFF6E0;
        font-size: 1.1em;
        margin-left: 1.5rem;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: #EFF;
        }
    }
}