@import 'blog-navigation';

@import 'blogs';

.blog-layout-container {
    width: 100%;
    min-height: 100vh;
    background-color: #598392;
    color: #01161E;
    display: grid;
    grid-template-columns: 1fr 6fr;
}

