
.contact-container {
    width: 90%;
    min-height: calc(100vh - 75px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 2fr;

    .contact-content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .contact-header {
            width: 100%;
            min-height: 200px;
            display: grid;
            grid-template-columns: 3fr 1fr;
            margin-top: 1rem;

            .contact-image {
                max-height: 200px;
            }

            .contact-title {
                font-size: 3rem;
                font-weight: 700;
                margin-bottom: 1rem;
                color: #001233; 
            }

            .contact-subtitle {
                font-size: 0.9em;
                font-weight: 400;
                margin-bottom: 1rem;
            }
        }

        .contact-content-wrapper {
            width: 100%;
            color: #001233;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .contact-info-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 1rem;

                .contact-info {
                    font-size: 1.2rem;
                    font-weight: 400;
                    margin-bottom: 1rem;
                    color: #001233;
                }

                .name {
                    font-size: 1.7rem;
                    font-weight: 700;
                    padding: 1rem;
                    margin-bottom: 2rem;
                    color: #2f0033;
                }
            }
        }

        .skills-wrapper {
            width: 90%;
            margin: 0 auto;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            .skills-title {
                font-size: 2rem;
                font-weight: 700;
                margin-bottom: 1rem;
                margin-left: 1rem;
                color: #001233;
            }
        }
    }

    .contact-map-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .temp-map {
            width: 80%;
            height: 500px;
            background-color: grey;
        }
    }
}

.contact-form {
    width: 90%;
    margin: 2rem auto;
}