
.main-nav-container {
    width: 100%;
    min-height: 75px;
    background-color: rgb(10, 13, 14);
    color: grey;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    .welcome-wrapper {
        background-color: rgb(48, 88, 101);
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;

        .main-nav-welcome {
            font-size: 1.5em;
            font-weight: bold;
            color: #161616;
        }

        .welcome-name {
            font-size: 1.7em;
            font-weight: bold;
            color: #0d2930;
            letter-spacing: 3px;
            text-shadow: 2px 2px 2px rgba(16, 27, 27, 0.5);
        }
    }

    .nav-link {
        font-size: 1.2em;
        text-decoration: none;
        color: white;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: rgb(48, 88, 101);
            font-size: 1.4em;
        }
    }

    .link-active {
        color: rgb(48, 88, 101);
        font-size: 1.4em;
        border-bottom: 1px solid rgb(48, 88, 101);
    }

    .links-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .auth-links-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .logout-btn {
        font-size: 1.2em;
        text-decoration: none;
        border: none;
        background-color: transparent;
        color: white;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: rgb(48, 88, 101);
            font-size: 1.4em;
        }
    }
}